body {
    margin: 0;
    background-color: #fff;
    height: 100%;
}

.tree-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    color: #228090;
    margin: 10px;
    height: 60px;
}
.tree-content{
    font-size: 20px;
    padding: 10px 15px;
}
.text-editable{
    background-color: #eaeaea;
    border-radius: 5%;
}
.node-content{
    margin: 0px 20px;
}
.tree-element-clicked{
    background-color: #F5F5F5;
}
.edit-element{
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 18px;
    color: #111;
    padding: 10px 5px;
    cursor: pointer;
}