body {
    margin: 0;
    background-color: #fff;
    height: 100%;
}
.tree-element{
    display: block;
    width: 300px;
    color: #228090;
    margin: 10px;
    height: 50px;
    cursor: pointer;
}
.tree-content{
    float: left;
    font-size: 20px;
    padding: 10px 15px;
}
.edit-element{
    float: left;
}
i{
    font-size: 18px;
    color: #111;
    padding: 10px 5px;
}